<div class="row">
  <div class="col-md-3" *ngFor="let user of list">
    <div class="card" style="width: 18rem;">

      <img src="{{user.picture}}" class="card-img-top" alt="...">
      <div class="card-body">

        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.phone}}
          <br>
          email:{{user.email}}
        </p>


        <button class="btn btn-sm btn-primary" (click)="suppUser(user)">
          supprimer
        </button>
      </div>

    </div>
  </div>
</div>

